// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  color: white;
  font-weight: bold;
  background-color: #337AB7;
  padding: 4px;
}

.lnk {
  text-decoration: none;
}